<div class="admin_menu">
    <ul class="menu">
        {% if user.is_authenticated %}
            <li><a class="log_regedit"
                   href="{% url 'auth:edit' %}">редактировать: {{ user.first_name|default:'пользователь' }}</a></li>
            <li><a class="log_entexit" href="{% url 'auth:logout' %}">выйти</a></li>
            <li><a class="log_entexit" href="{% url 'auth:account' %}">личный кабинет</a></li>
        {% else %}
            {% if 'register' in request.resolver_match.url_name %}
                <li><a class="log_entexit" href="{% url 'auth:login' %}">войти</a></li>
                {#            {% endif %}#}
            {% elif 'login' in request.resolver_match.url_name %}
                <li><a class="log_regedit" href="{% url 'auth:register' %}">регистрация</a></li>
            {% else %}
                <li><a class="log_entexit" href="{% url 'auth:login' %}">войти</a></li>
                <li><a class="log_regedit" href="{% url 'auth:register' %}">регистрация</a></li>
            {% endif %}

        {% endif %}
        {% if user.is_superuser %}
                <li><a href="{% url 'authapp:skills_list' %}">редактировать cкиллы</a></li>
        {% endif %}
    </ul>
</div>
