{% extends 'authapp/base.html' %}
{% load static %}
{% load media_tags %}

{% block content %}
{#    <a href="{% url 'index' %}" class="edit_cross"></a>#}

    <div >
    <div class="container_box">
        <img class="index_block_avatar" src="{{ user.avatar|media_for_users }}" alt="avatar"/>
        {{ user.first_name }} {{ account.patronymic }} {{ user.last_name }}<br>
{#        Пользователь:{{ user }}<br>#}
{#        Возраст:{{ user.age }}<br>#}
        Скилы: {% for skill in user.skills.all  %}
            {{ skill.name }},
        {% endfor %}<br>
        Языки: {{ account.languages }}<br>
        Увлечения: {{ account.hobbies }}<br>
        <br>

    </div>
            <a class="skilladd_button" href={% url 'authapp:skills_add' %}>
            <span>Добавить Скиллы</span>
        </a>
{% endblock %}
