{% extends 'mainapp/base.html' %}
{% load static %}
{% load media_tags %}

{% block content %}
    <div class="admin_block">
{#        <a href="{% url 'authapp:account' %}" class="edit_cross"></a>#}
        <a class="skilladd_button" href={% url 'authapp:skill_create' %}>
            <span>Новый скилл</span>
        </a>
        <div class="skills_list">
            {% for object in object_list %}
                <div class="skill_record">
                    <div class="product_name">
                        {{ object.name|title }}
                    </div>
                    <div class="product_actions">
                        <button>
                            <a href={% url 'authapp:skill_update' object.pk %}>
                                редактировать
                            </a>
                        </button>
                        <button>
                            <a href={% url 'authapp:skill_delete' object.pk %}>
                                удалить
                            </a>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

