{% extends 'mainapp/base.html' %}
{% load static %}
{% load media_tags %}

{% block content %}
        {% for account in accounts %}
            <div class="container_box">
                <img class="index_block_avatar" src="{{ account.user.avatar|media_for_users }}" alt="avatar"/>
                {{ account.user.first_name }} {{ account.patronymic }} {{ account.user.last_name }}<br>
                Скиллы: {% for skill in account.user.skills.all  %}
                    {{ skill.name }},
                {% endfor %}<br>
                Языки: {{ account.languages }}<br>
                Увлечения: {{ account.hobbies }}<br>
                <br>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
